[submodule "examples/nextjs/simple-af-agent"]
	path = examples/nextjs/simple-af-agent
	url = https://github.com/ryaneggz/next-agent.git
[submodule "examples/terminal/gilfoyle"]
	path = examples/terminal/gilfoyle
	url = https://github.com/enso-labs/gilfoyle.git
